# Hidden folders
.*/
$*/

# Visual Studio and Visual Studio Code cache/options directory
.vs/
.vscode/

# CMake output/build directory
build/
build-*/
out/
out-*/

# CMake ignored directories
CMakeFiles
CMakeScripts
Testing
_deps

# CMake ignored files
CMakeLists.txt.user
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
install_manifest.txt
compile_commands.json
CMakeUserPresets.json

# Makefile ignored file
Makefile

# Backup directory
.backups/
